.reveal .slides section .no-column {
  width: 96%;
}
.reveal .slides section .column1 {
  float: left;
  width: 48%;
}
.reveal .slides section .column2 {
  float: right;
  width: 48%;
}

.reveal .slides section .column3 {
  float: left;
  width: 68%;
}
.reveal .slides section .column4 {
  float: right;
  width: 28%;
}
